{{#with data.products}}
  {{#each list}}

    <div class='form__card'>
      <div class='card__content'>
        <h2 class='card__title'>{{name}}</h2>
        <p class='card__description'>{{description}}</p>
        <span class='card__id'>{{id}}</span>

        <div class='card__row'>
          <strong class='card__price'>{{price}}</strong>
          <button class='card__edit'><a
              class='card__link'
              href='/product-edit?id={{id}}'
            >Редагувати</a></button>
        </div>
      </div>
    </div>
  {{/each}}
{{/with}}