{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  <div class="main__content">

    {{#with data}}
    <h1 class="title title--center">Додати до плейлиста</h1>


    <ul class="track__list card">

      {{#each tracks}}
      <li class="track">
        <img src="{{image}}" alt="{{name}}" class="track__image">
        <div class="track__content">
          <strong class="track__name">{{name}}</strong>
          <em class="track__author">{{author}}</em>
        </div>
        <form action="/spotify-track-add" method="POST">
          <a href="/spotify-track-add?playlistId={{../playlistId}}&trackId={{id}}">
            <img src="/png/add-track.png">
          </a>
          {{!-- <input type="hidden" name="playlistId" value="{../playlistId}}">
          <input type="hidden" name="trackId" value="{id}}">
          <button type="submit"> --}}
            {{!-- <img src="/png/add-track.png"> --}}
            {{!-- </button> --}}

        </form>
      </li>
      {{/each}}
    </ul>

    {{/with}}
  </div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}