{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main>
  <section>
    <div class='form'>
      <h1 class='form__title'>{{title}}</h1>
        <section class='purchase-list'>
          {{#with data.purchases}}
            {{#each list}}
           
              <a class="purchase-content" href='/purchase-info?id={{id}}'>
                <div class='purchase-item'>
                    <div class='purchase-item__block'>
                      <span class='title'>ID: ´{{id}}</span>
                    </div>
                    <div class='purchase-item__block'>
                      <span class='title'>Товари</span>
                      <span class='item__text'>{{product}}</span>
                    </div>
                    <div class='purchase-item__block'>
                      <span class='title'>Сума замовлення</span>
                      <span class='item__text'>{{totalPrice}} грн</span>
                    </div>
                    <div class='purchase-item__block'>
                      <span class='title'>Нараховані бонуси</span>
                      <span class='item__text'>{{bonus}} грн</span>
                    </div>
                </div>
              </a>
              
              {{> divider}}
            
            {{/each}}
          {{/with}}
          
        </section>
    </div>
  </section>
</main>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}